@font-face {
  font-family: 'AvertaDemo-ExtraBoldItalic';
  src: url('../fonts/AvertaDemo-ExtraBoldItalic.eot');
  src: url('../fonts/AvertaDemo-ExtraBoldItalic.woff2') format('woff2'),
       url('../fonts/AvertaDemo-ExtraBoldItalic.woff') format('woff'),
       url('../fonts/AvertaDemo-ExtraBoldItalic.ttf') format('truetype'),
       url('../fonts/AvertaDemo-ExtraBoldItalic.svg#AvertaDemo-ExtraBoldItalic') format('svg'),
       url('../fonts/AvertaDemo-ExtraBoldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin:0;
	padding: 0;
	font-family: Arial;
	font-size: 12px;
}

/*********************************************
	GLOBAL
**********************************************/
.clear { clear: both;}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.container {
	width: 1200px;
	margin:0 auto;
	//max-width: 1200px;
	position:relative;
}
.floatL {
	float:left;
}
.floatR{
	float: right;
}
.important {
	color:red;
}
.fullwidth {
	width: 100%;
}
.halfwidth {
	width:50%;
}
.triforwidth {
	width: 75%;
}

/*********************************************
	HEADER PART
**********************************************/
/*sticky header*/
.header.sticky {
	position:fixed !important;
	top:0;
	background:red;
	transition: all 0.4s ease;
}
.header.sticky .nav ul li a {
	width:auto;
	height:auto;
	padding:0;
}
.header.sticky .navIcon, .header.sticky .navTxt {
		display:inline-block;
}


/************/
.header {
	background: #028843;
}

/** TOP NAV**/
.topNav {
	padding:10px;
	border-bottom: 1px solid #22794f;
}
.topBox {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}
.mobs {
	display: inline-block;
}
.bell {
	width: 21px;
	position: relative;
	display: inline-block;
	margin-right: 10px;
	margin-top: -5px;
}
.newImportant {
	position: absolute;
	bottom: -5px;
	right: -5px;
	z-index: 999;
}
.time-date {
	display: inline-block;
	color: #fff;
	z-index: 111;
	font-size: 12px;
	font-weight: bold;
	font-family: Arial;
}
.marquee{
	display: inline-block;
	color: #fff;
	z-index: 1;
	background: #04712a;
	font-size: 11px;
	font-family: Arial;
	margin-left: 10px;
	width: 57%;
	position: relative;
	top: 3px;
}

#cirlceFlags ul{
	list-style: none;
	margin:0;
	padding:0;
}
#cirlceFlags ul li {
	position: relative;
}
#cirlceFlags ul #childFlag {
	display: none;
}

#cirlceFlags ul li:hover > #childFlag {
	display:block;
	position: absolute;
	top: 19px;
	right: 0;
	z-index: 9999;
}
#cirlceFlags ul #childFlag li a {
	width: 100px;
	display: inline-block;
	background: #007028;
	text-align: right;
	padding: 4px;
	color: #fff;
	font-size:12px;
}
#cirlceFlags ul #childFlag li a:hover {
	color: #fee71b;
}
#cirlceFlags ul #childFlag li a img {
	margin-left: 5px;
}
.login {
	background: #fff;
	cursor:pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color:#000;
	position: relative;
	text-align: center;
	line-height: 30px;
	height: 30px;
	width: 135px;
	border: 1px solid #8a8a8a;
	font-weight: bold;
	display: inline-block;
	text-decoration: none;
}
.login img {
	vertical-align:middle;
	margin-left: 10px;
}
.loginBody {
	z-index:99991;
	position:absolute;
	right:-125px;
	top:46px;
	display:none;
	margin:0;
	background: url(../images/loginBg.png) repeat;
	font-family: Arial;
	font-size:11px;
	border:1px solid #fff;
	padding: 10px;
	box-sizing:border-box;
	//width:450px;
}
.loginBody img {
	width:100%;
	height:auto;
}
.loginBody input::placeholder {
  color: #333;
}
.loginBody input[type=text],.loginBody input[type=password]  {
	width: 100%;
    color: #000 !important;
	border:none;
	height: 25px;
	line-height: 25px;
	padding-left: 10px;
	background: #fff;
	margin-bottom: 5px;
	font-size: 11px;
	box-sizing:border-box;
}
.loginBody input[type=checkbox] {
	margin: 0;
	vertical-align: middle;
}
.loginBody .labelsLogin {
	color:#fff;
}
.loginBody .submit {
	background: #fee71b;
	color: #2b2700;
	height: 30px;
	line-height: 30px;
	width: 100%;
	font-size: 11px;
	text-align: center;
	border: none;
	margin-top: 10px;
	font-weight: bold;
	font-family: Arial;
}
.joinNow {
	height: 30px;
	line-height: 30px;
	width: 128px;
	background: #fee71b;
	color: #2b2700;
	display: block;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
}


/** MAIN NAV **/
.mainNav {
	position:relative;
}
.logo {
	float: left;
	margin: 10px 0 0 10px;
	//padding:10px;
}
.logo img {
	max-width:100%;
	width:70%;
	height:auto;
}
/*Style 'show menu' label button and hide it by default*/
.show-menu {
	text-decoration: none;
	color: #fff;
	background: #19c589;
	text-align: center;
	display: none;
	z-index:1;
}
/*Hide checkbox*/
#show-menu{
    display: none;
    -webkit-appearance: none;
}
/*Show menu when invisible checkbox is checked*/
#show-menu:checked ~ #nav{
    display: block;
}
.nav {
	float: right;
	margin-right: 0;
}
.nav ul {
	margin:0;
	padding:0;
	list-style: none;
}
.nav ul li {
	float:left;
}
.nav ul li a {
	display: block;
	color: #fff;
	text-decoration: none;
	text-align: center;
	/*width: 90px;*/
	padding: 15px 0;
	font-weight: bold;
	font-size: 12px;
	font-style: italic;
	text-transform:uppercase;
	width:85px;
}
.nav ul li a .navIcon {
	height: 100%;
}
.nav ul li a .navIcon img {
	vertical-align: bottom;
}
.nav ul li a:hover {
	background: #fee71b;
	color: #3a2302;
}
/*icon NAv*/
.sprite {
	background:url(../images/navicons/nav-sprite.png) no-repeat;
	display:inline-block;
}
.icon-home {
	background-position: 0 0 ;
	height:35px;
	width:34px;
}
.icon-mobile {
	background-position: -5px -39px ;
	height:35px;
	width:19px;
}
.icon-products {
	background-position: 0px -79px ;
	height:35px;
	width:34px;
}
.icon-promotion {
	background-position: 0px -121px ;
	height:35px;
	width:28px;
}
.icon-commision {
	background-position: 0px -164px ;
	height:35px;
	width:35px;
}
.icon-how-it-works {
	background-position: 0px -205px ;
	height:35px;
	width:35px;
}
.icon-go-to {
	background-position: 0px -241px ;
	height:35px;
	width:32px;
}
/*icon hover*/
.nav ul li a:hover > .navIcon .icon-home {
	background-position: -36px 0 ;
}
.nav ul li a:hover > .navIcon .icon-mobile {
	background-position: -27px -39px ;
}
.nav ul li a:hover > .navIcon .icon-products {
	background-position: -34px -79px; ;
}
.nav ul li a:hover > .navIcon .icon-promotion {
	background-position: -31px -121px ;
}
.nav ul li a:hover > .navIcon .icon-commision {
	background-position: -35px -164px ;
}
.nav ul li a:hover > .navIcon .icon-how-it-works  {
	background-position: -35px -205px ;
}
.nav ul li a:hover > .navIcon .icon-go-to  {
	background-position: -32px -241px ;
}
/*********************************************
	END
**********************************************/







/*********************************************
	CONTENT PART
**********************************************/
/** STICKY PART **/
.how-it-works {
	position:fixed;
	top:35%;
	z-index:99991;
}
.hiwBan {
	position:fixed;
	z-index:1;
}
.how-it-works .hiwCont {
	position:fixed;
	color:#fff;
	width:250px;
	//height:265px;
	padding: 28px 0 28px 35px;
	padding-left:48px;
	background:#013c16;
	left:-250px;
}
.how-it-works .hiwCont  table {
	border-collapse:collapse;
}
.how-it-works .hiwCont td {
	padding:0;
	font-size:15px;
	font-family:Arial;
}
.how-it-works .hiwCont td a{
	padding:6px 15px;
	display:block;
	color:#fff;
	text-decoration:none;
}
.how-it-works .hiwCont td a:hover {
	background: #fee71b;
	color:#333;
}


.contact-us {
	position:fixed;
	top:35%;
	right:0;
	z-index:99991;
}
.cuBan {
	position:fixed;
	z-index:1;
	right:0;
}
.contact-us .cuCont {
	position:fixed;
	color:#fff;
	width:250px;
	padding: 28px 0px 28px 0px;

	background:#013c16;
	right:-250px;
}
.contact-us .cuCont  table {
	border-collapse:collapse;
}
.contact-us .cuCont td {
	padding:0;
	font-size:15px;
	font-family:Arial;
}
.contact-us .cuCont td a{
	padding:6px 15px;
	display:block;
	color:#fff;
	text-decoration:none;
}
.contact-us .cuCont td a:hover {
	background: #fee71b;
	color:#333;
}

/****************************
	 HOME
*****************************/
.contentHome {
	background: url(../images/home/affiliate-casino1.jpg) top center no-repeat;
	background-size: cover;
	height:100%;
	padding-bottom:45px;
	padding-top:30px;
}
.bxslider {
	z-index:1;
}
.parentSlide {
	position:relative;
	min-height:300px;
}
childImg {
	position:absolute;
	left:0;
	top:0;
	border:1px solid red;
	height:auto;
	width:auto;
}
.businessman {
	max-width:379px !important;
}
.childSlide {
	position:absolute;
	right:8%;
	top:5%;
	//border:1px solid red;
	//padding:10px;
	color:#fff;
	font-family: 'AvertaDemo-ExtraBoldItalic';
	//font-size:30px;
	text-align:right;
	z-index:99999999999999 ;
}
.childOne {
	font-size:36px;
}
.childTwo {
	font-size:86px;
	line-height:55px;
	text-transform:lowercase;
}
.childTwo .eighteight {
	color:#fee71b;
}
.childThree {
	font-size:94px;
	line-height:90px;
	color: #028843;
}
.childThree span {
	color:#fff;
}
.childFour {
	font-size:15x;
	font-family:Arial;
	text-align:right;
}
.childFour span {
	display:block;
}
.childFour span a {
	display:inline-block;
	width:181px;
	height:43px;
	line-height:43px;
	text-align:center;
	color:#262201;
	font-weight:bold;
	font-family:Arial;
	text-decoration:none;
	background:#fee71b;
	border-radius:4px;
	margin-top:10px;
	z-index:99999 !important;
}

.slider1 {
	width:100%;
	background:url(../images/home/affiliate-casino1.jpg) no-repeat center top;
	background-size:cover;
}
.slider2 {
	width:100%;
	background:url(../images/home/affiliate-casino2.jpg) no-repeat;
	background-size:cover;
}
.slider3 {
	width:100%;
	background:url(../images/home/affiliate-casino3.jpg) no-repeat;
	background-size:cover;
}

.contHomeDiv {
	//position:absolute;
	display:block;
	width:1200px;
	margin:0px auto 45px auto;
	z-index:1 !important;
	//margin-bottom:45px;
	//right: 4%;
}
.contBoxHome {
	float:left;
	//width:32.7%;
	width:393px;
	height:200px;
	margin-right:10px;
	color:#fff;
	z-index:1;
	position:relative;
}
.contBoxHome:last-child {
	margin-right:0;
}
.txtContBox {
	background:url(../images/loginBg.png) repeat;
	position:absolute;
	bottom:0;
	left:0;
}
.contBoxHome .txt1 {
	
	//margin-top:196px;
	font-weight:bold;
	font-size:18px;
	font-style:italic;
	padding-left:10px;
    padding-top: 5px;
	width:393px;
}
.contBoxHome .txt2 {
	font-weight:bold;
	font-size:25px;
	font-style:italic;
	padding-left:10px;
	line-height: 16px;
    padding-bottom: 10px;
}
/*
.contBoxHome.boxOne {
	background:url(../images/home/affiliate-banner1.jpg) no-repeat;
	height:249px;
	width:32.7%;
}
.contBoxHome.boxTwo {
	background:url(../images/home/affiliate-banner2.jpg) no-repeat;
	height:249px;
	width:32.7%;
}
.contBoxHome.boxThree{
	background:url(../images/home/affiliate-banner3.jpg) no-repeat;
	height:249px;
	width:32.7%;
}*/
/****************************
	 REGISTRATION
*****************************/

.img-ban1 {
	text-align: center;
	margin-bottom:20px;

}
.img-ban1 img {
	width:100%;
	height:auto;
	max-width:980px;
	max-height:297px;
	//margin:0 10%;
	box-sizing:border-box;
}
.regTextMid {
	margin: 0 10%;
	margin-bottom:50px;
	font-family:Arial;
}
.regTextMid .regTextMidTitle {
	color:#c68e12;
	font-weight:bold;
	font-size:14px;
}
.regTextMid .regTextMidCont {
	line-height:30px;
	font-size:12px;
	color: #3c3c3b;
}
.regBox {
	padding:10px;
	border-radius:8px;
	background:#dce1dc;
	margin:0 10%;
	margin-bottom:35px;
	box-shadow: 0 0px 10px #000;
}
.regCont {
	margin-top:20px;
}
.regBoxTitle {
	padding:5px;
	background: #028843;
	font-size:12px;
	font-weight:bold;
	color:#fff;
	border-radius:5px;
	text-transform:uppercase;
}
.regBoxTitle img {
	vertical-align:middle;
	margin-right:10px;
	margin-left:5px;
}
.info {
	color:#505050;
	font-style:italic;
	text-align:center;
	padding:5px;
	font-size:11px;
}
.info2 {
	color:#505050;
	text-align:center;
	margin-bottom:5px;
	font-size:11px;
}
.contBox {
	margin-bottom:15px;
}
.leftReg {
	text-align:right;
	width:30%;
	padding:5px;
	font-size:12px;
}
.rightReg {
	width:67%;
	margin-left:10px;
	box-sizing:border-box;
}
.rightReg img {
	vertical-align:middle;
}
.rightReg input[type=text], .rightReg select  {
	height:25px;
	box-sizing:border-box;
	border:1px solid #a0a0a0;
	border-bottom:1px solid #fff;
	-moz-box-shadow:     inset 1px 1px  1px #696969;
   -webkit-box-shadow:  inset 1px 1px  1px #696969;
   box-shadow:         inset 1px 1px  1px #696969;
   padding-left:10px;
}
.rightReg textarea {
	min-height:50px;
	border:1px solid #999;
}
.rightReg .phone1 {
	width:5%;
}
.checkav {
	padding:5px 10px;
}
.r {
	text-align:center;
}
#accept {
	vertical-align:middle;
}
label {
	//padding-top:8px;
	display:inline-block;

}
.forSubmit {
	text-align:center;
	margin-bottom:20px;
}
.frmSubmit {
	background:#fee71b;
	color:#3a2302;
	width:176px;
	height:34px;
	line-height:34px;
	border:none;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
}
/*VALIDATION*/
.okcheck, .okcross {
	display: none;
}
/**Tooltips**/
.input:focus + .tooltips {
	display:inline-block;
}
.tooltips {
	font-family: Arial;
	display:none;
	position:absolute;
	margin-left: 50px;
	padding-left:10px;
	background:url(../images/registration/triangle.png) no-repeat top left;
	background-position:0px 8px;
	z-index: 1;
}
.tooltips p {
	background:#acadad;
	font-size:12px;
	width: 200px;
	height:auto;
	margin:0;
	color:#444;
	text-align:left;
	padding:8px 15px 8px 15px;
	border:1px solid #ccc;
	border-left: none;
}
.tooltips p span {
	display:block;
	padding:0px;
	text-align:left;
	color:#fffc00;
	font-weight:bold;
}
.tooltips .short{
    font-weight:bold;
	color:#FF0000;
	font-size:larger;
}
.tooltips .weak{
    font-weight:bold;
	color:#ffa800;
	font-size:larger;
}
.tooltips .good{
    font-weight:bold;
	color:#ffa800;
	font-size:larger;
}
.tooltips .strong{
    font-weight:bold;
	color: green;
	font-size:larger;
}

/*********************************************
	ABOUT US
**********************************************/
.contentAbout {
    background: url(../images/about/about-bg.jpg) top center no-repeat;
    background-size: 100% 100%;
    padding-top: 406px;
    padding-bottom: 46px;
}
.aboutWrap {
    background: url(../images/about/aboutContent-bg.png) 0 0 no-repeat;
    background-size: 100% 100%;
    width: 100%;
    max-width: 1330px;
    margin: 0 auto;
    padding: 66px 100px;
}
.aboutWrap h3 {
    font: italic 700 25px Arial;
    color: #fff;
    margin: 0 0 13px;
    text-transform: uppercase;
}
.aboutWrap p {
    font: 400 14px Arial;
    color :#fff;
    margin: 0 0 23px;
}
.aboutWrap ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.aboutWrap ul li {
    display: block;
    font: 400 14px/16px Arial;
    color: #fff;
    margin: 14px 0 0;
    padding: 0 0 0 40px;
    position: relative;
}
.aboutWrap ul li:first-child { margin-top: 0;}
.aboutWrap ul li:before {
    background: url(../images/about/icon-check.png) top center no-repeat;
    display: block;
    width: 19px;
    height: 20px;
    clear: both;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
}
/*********************************************
	END ABOUT US
**********************************************/

/*********************************************
	PRODUCT PAGE
**********************************************/
.contentProducts {
	background:#090909;
}
.contProdSlide {
	background:url(../images/prodBg.jpg) repeat;
	padding:40px 0;
}
.contProdSlide .bx-pager {
	display:inline-block !important;
	width:auto !important;
	padding:0 !important;
	right: 20px !important;
	bottom: 20px !important;
	height: auto !important;
}
.contProdSlide .bx-wrapper .bx-pager.bx-default-pager a {
	width:15px;
	height:15px;
	border-radius:50px;
	box-shadow:0 0 10px #fff;
}
.contProd {
	padding:20px;
}
.contProd .container {
	width:980px;
}
.prodBox {
	color:#fff;
	float:left;
	width: 50%;
	margin: 20px 0;
}
.prodTitle {
	color: #fee71b;
	font-size:25px;
	font-weight:bold;
	font-style:italic;
	margin-bottom:20px;
}
ul.prodContent {
	margin:0;
	padding:0;
	list-style: none;
}
ul.prodContent  li {
	background: url(../images/products/check.png) left top no-repeat;
	padding:5px 0 5px 30px;
}
/*********************************************
	END PRODUCT PAGE
**********************************************/


/*********************************************
	COMMISSION PAGE
**********************************************/
body.page-commission {
    background: #080808;
}
.contentCommission {
    background: url(../images/commission/comm-bg.jpg) top center no-repeat;
}
.comm-wrap {
    max-width: 1572px;
    width: 100%;
    margin: 0 auto;
}
.comm-banner {
    position: relative;
    padding-top: 76px;
    padding-bottom: 200px;
}
.comm-banner .text  {
    float: left;
    padding-left: 24px;
    position: relative;
    z-index: 2;
}
.comm-banner .text h2 {
    font: italic 700 48px Arial;
    margin: 0 0 7px;
    color: #d9d921;
    text-transform: uppercase;
}
.comm-banner .text h4 {
    font: italic 700 28px Arial;
    color: #fff;
    margin: 0;
    text-transform: uppercase;
}
.comm-banner .text ul {
    margin: 34px 0 0;
    padding: 0 0 0 26px;
    list-style: none;
}
.comm-banner .text ul li {
    color: #fff;
    font: italic 700 48px Arial;
    margin: 0;
    padding: 11px 0 0 77px;
    text-transform: uppercase;
    position: relative;
}
.comm-banner .text ul li:before {
    clear: both;
    content: '';
    display: block;
    position: absolute;
    width: 77px;
    height: 59px;
    left: 0;
    top: 0;
    background: url(../images/commission/icon-check.png) 0 0 no-repeat;
}
.comm-banner .img {
    position:  absolute;
    z-index: 1;
    width: 1017px;
    top: 100px;
    right: 0;
}
.comm-banner .img img {
    display: block;
    margin: 0;
    max-width: 100%;
}
#comm-plan {
    padding-left: 24px;
}
#comm-plan .inner {
    padding: 0 48px;
}
#comm-plan h2 {
    font: italic 700 35px Arial;
    color: #fee71b;
    margin: 0 0 45px    ;
    text-transform: uppercase;
}
#comm-plan h4 {
    color: #fff;
    font: italic 700 25px Arial;
    margin: 0 0 30px;
    text-transform: uppercase;
}
#comm-plan .inner > p {
    color: #fff;
    font: italic 700 17px/33px Arial;
    margin: 0 0 50px;
}
ul.aff-list {
    margin: 0 0 50px;
    padding: 0;
    list-style: none;
}
ul.aff-list li {
    color: #fff;
    display: block;
    font: 400 14px/16px Arial;
    color: #fff;
    margin: 14px 0 0;
    padding: 0 0 0 40px;
    position: relative;
}
ul.aff-list li:first-child { margin-top: 0;}
ul.aff-list li:before {
    background: url(../images/about/icon-check.png) top center no-repeat;
    display: block;
    width: 19px;
    height: 20px;
    clear: both;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
}
table.aff-tble {
    background: #2c2c2c;
    border-collapse: collapse;
    width: 100%;
    max-width: 850px;
    margin-bottom: 40px;
    margin-left: 42px;
}
table.aff-tble th {
    font: 700 19px Arial;
    color: #fee71b;
    border-left: thin solid #000;
    padding: 14px 10px;
}
table.aff-tble tbody td {
    font: 700 17px Arial;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    border-left: thin solid #000;
    padding: 14px 10px;
}
table.aff-tble tr {
    border-bottom: thin solid #000;
}
/*********************************************
	END COMMISSION PAGE
**********************************************/

/*********************************************
	FAQ PAGE
**********************************************/

/* faq */
body.faq {
    background: #eee !important;
}
.faq-header {
    background: #028843;
    text-align: center;
    overflow: hidden;
}
.faq-header img {
    display: block;
    max-width: 100%;
    margin: 15px auto;
}
.faq-header p {
    color: #028843;
    background: #ffff01;
    margin: 0;
    padding: 4px 0;
    font-size: 17px;
}
.faq-content {
    background: #eee;
    padding: 10px 20px;
}
.faq-panel {
    max-width: 1200px;
    margin: 0 auto;
    background: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}
.accdn-panel {
    padding: 0 15px;
}
.accdn-panel h2 {
    display: block;
    background: #ffff;
    color: #757575;
    cursor: pointer;
    font-size: 17px;
    padding: 15px;
    text-decoration: none;
    position: relative;
    border-top: 1px solid #dbdbdb;
    /*border-bottom: 1px solid #dbdbdb;*/
    font-weight: 400;
    margin: 0;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    padding-right: 65px;
}
.accdn-panel h2::after {
    content: '>';
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 18px;
    color: #B3B3B3 !important;
    transition: all 0.2s ease;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.accdn-panel h2.active,
.accdn-panel h2:hover {
    background: #028843;
    color: #fff;
    padding-left: 25px;
}
.accdn-panel h2.active::after {
    content: '>';
    transform: rotate(90deg);
    color: rgb(17, 25, 28, 1);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.accdn-panel:first-child h2 {
    border-top: none;
}
.accdn-panel .accdn-content {
    padding: 20px 20px;
    font-size: 16px;
    line-height: 23px;
    color: #757575;
    display: none;
    border: 1px #dbdbdb solid;
    border-bottom: none;
}
.accdn-panel .accdn-content.noanimate {
    display: block;
    border: none !important;
    padding: 0;
}
.accdn-panel .accdn-content.noanimate.static,
.accdn-panel .accdn-content.noanimate.static p {
    font-size: 14px;
    line-height: 24px;
    text-transform: none;
    font-weight: 400;
}
.accdn-panel .accdn-content.noanimate.static p {
    margin-bottom: 8px;
}
.accdn-panel:last-child .accdn-content {
    border-bottom:  1px #dbdbdb solid;
}
.accdn-panel .accdn-content p {
    margin: 0px 0px 17px 0px;
}
.accdn-panel .accdn-content a {
    display: inline;
    color :#028843;
}
.accdn-panel .accdn-content ul,
.accdn-panel .accdn-content ol {
    margin: 0;
    padding-left: 20px;
}
.accdn-panel .accdn-content ul.custom {
    list-style: none;
    margin-left: 5px;
    padding-left: 5px;
}
.accdn-panel .accdn-content table {
    border-color: separate;
    margin: 0 auto;
}
.accdn-panel .accdn-content table th {
    font-weight: 700;
    border: thin solid #ccc;
    padding: 5px 10px;
    text-align: center;
}
.accdn-panel .accdn-content table td {
    border: thin solid #ccc;
    padding: 5px 10px;
    text-align: center;
}
.noanimate p {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    margin: 5px 0 10px;
}
/*********************************************
	END FAQ PAGE
**********************************************/



/*********************************************
	FOOTER PART
**********************************************/
.footer {
	background: #028843;
	font-family: Arial;
	font-size: 11px;
	padding:10px 5% 30px 5%;
}
.footbox {
	float: left;
	//border: 1px solid red;
	width: 48%;
	padding: 10px;
}
.foot ul {
	margin:0;
	padding:0;
	list-style: none;
}
.foot ul li {
	float:left;
	margin-right: 10px;
	color: #fff;
}
.foot ul li a {
	display: inline-block;
	color: #fff;
	text-decoration: none;
	padding-right: 10px;
}
.foot ul li a:hover {
	color: #fae51a;
}
.copy {
	text-align: right;
	color: #fff;
}
.copy img {
	vertical-align:middle;
}
.copy a +  a {
	margin-right:20px;
}
.footBottom {
	width:1200px;
	margin:0 auto;
	color:#fff;
	margin-top:20px;
	//padding-left:6%;
}
.bordots {
	width:33.2%;
	float:left;
}
.bordots a span {
	margin-right:15px;
	margin-top:15px;
}
.skrill {
	display: inline-block;
	background: url(../images/footer-img.png);
	background-position: -15px -226px;
	height: 20px;
	width: 42px;
	vertical-align: middle;
}
.neteller {
	display: inline-block;
	background: url(../images/footer-img.png);
	background-position: -75px -226px;
	height: 10px;
	width: 64px;
	vertical-align: middle;
}
.visa {
	display: inline-block;
	background: url(../images/footer-img.png);
	background-position: -156px -226px;
	height: 16px;
	width: 49px;
	vertical-align: middle;
}
.mastercard {
	display: inline-block;
	background: url(../images/footer-img.png);
	background-position: -216px -226px;
	height: 30px;
	width: 51px;
	vertical-align: middle;
}

.chrome {
	display: inline-block;
	background: url(../images/footer-img.png);
	background-position: -15px -113px;
	width: 33px;
	height: 34px;
	vertical-align: middle;
}
.firefox {
	display: inline-block;
	background: url(../images/footer-img.png);
	background-position: -64px -113px;
	width: 36px;
	height: 34px;
	vertical-align: middle;
}
.ie {
	display: inline-block;
	background: url(../images/footer-img.png);
	background-position: -116px -115px;
	width: 33px;
	height: 33px;
	vertical-align: middle;
}
.safari {
	display: inline-block;
	background: url(../images/footer-img.png);
	background-position: -165px -113px;
	width: 32px;
	height: 36px;
	vertical-align: middle;

}

.i-one {
	display: inline-block;
	background: url(../images/footer-img.png);
	background-position: -10px -283px;
	width: 47px;
	height: 37px;
	vertical-align: middle;
}
.i-two {
	display: inline-block;
	background: url(../images/footer-img.png);
	background-position: -75px -283px;
	width: 65px;
	height: 31px;
	vertical-align: middle;
}
.i-three {
	display: inline-block;
	background: url(../images/footer-img.png);
	background-position: -158px -283px;
	width: 35px;
	height: 34px;
	vertical-align: middle;
}
.i-four {
	display: inline-block;
	background: url(../images/footer-img.png);
	background-position: -213px -283px;
	width: 37px;
	height: 37px;
	vertical-align: middle;
}
.i-five {
	display: inline-block;
	background: url(../images/footer-img.png);
	background-position: -272px -283px;
	width: 35px;
	height: 37px;
	vertical-align: middle;
}
.i-six {
	display: inline-block;
	background: url(../images/footer-img.png);
	background-position: -323px -292px;
	width: 49px;
	height: 18px;
	vertical-align: middle;
}
/*********************************************
	END
**********************************************/


/*********************************************
	RESPONSIVE
**********************************************/

@media screen and (min-width : 1367px){
	.marquee{
	//	width:70%;
	}
	.topNav, .mainNav  {
		/*margin:0 5%;*/
   //     max-width: 1572px;
    //    margin: 0 auto;
     //   width: 100%;
	}
	/*HOME*/
	.parentSlide {
		position:relative;
		//min-height:645px;
	}
	.contHomeDiv {
	//	right: 20.5%;
	}

}
@media screen and (max-width : 1200px){
	.container , .footBottom {
		width:100%;
	}
	.marquee{
		width:49%;
	}
	.contProd .container {
		width:100%;
	}
}
@media screen and (max-width: 992px) {
	.marquee{
		width:40%;
	}
    .contentAbout {
        padding-top: 180px;
    }
    .aboutWrap {
        padding-left: 60px;
        padding-right: 60px;
    }
    .comm-banner {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .comm-banner .text {
        float: none;
        padding-left: 48px;
    }
    .comm-banner .img {
        display: none;
    }
    #comm-plan h2 {
        margin-left: 24px;
        margin-bottom: 20px;
    }
    #comm-plan .inner > p {
        margin-bottom: 25px;
    }
}
@media screen and (max-width : 846px){
	.nav ul li a {
		width:80px;
		font-size:11px;
	}
	.marquee{
		width:32%;
	}
}

@media screen and (max-width : 768px){
	.topNav {
		text-align:center;
	}
	.mobs {
	//	display:block;
	}
	.topBox, .time-date {
		margin-bottom:10px;
	}
	.marquee {
		display:none;
	}
	.logo {
		float:none;
		display:block;
		text-align:center;
		position:relative;
		margin:0;
		padding:15px 0;
	}
	.logo img {
		width:100%;
		height:auto;
		max-width:180px;
	}
	/*Display 'show menu' link*/
	.show-menu {
		position:absolute;
		display:block;
		cursor:pointer;
		font-size:16px;
		top:25px;
		left:10px;
		padding:10px;
		font-weight:bold;
		font-family: Arial, Helvetica, sans-serif;
	}
	/*Make dropdown links appear inline*/
	#nav {
		position: static;
		display: none;
		float:none;
		border-top:1px solid #22794f;
	}
	.nav ul li {
		float:none;
	}
	.navIcon, .navTxt {
		display:inline-block;
	}
	.nav ul li a {
		padding: 15px;
		width:100%;
		font-size:16px;
		text-align:left;
	}
	.nav ul li a .navIcon {
		height:auto;
		margin-right:10px;
	}
	.navIcon img {
		width:20px;
		height:20px;
		margin-right:10px;
	}
	/* ICON NAV */
	.icon-home {
		background-position:  -80px 0 ;
		height:21px;
		width:20px;
	}
	.icon-mobile {
		background-position: -83px -23px ;
		height:21px;
		width:11px;
	}
	.icon-products {
		background-position: -81px -48px ;
		height:20px;
		width:21px;
	}
	.icon-promotion {
		background-position: -80px -73px ;
		height:21px;
		width:17px;
	}
	.icon-commision {
		background-position: -80px -98px ;
		height:21px;
		width:21px;
	}
	.icon-how-it-works {
		background-position: -80px -123px ;
		height:21px;
		width:21px;
	}
	.icon-go-to {
		background-position: -80px -144px ;
		height:21px;
		width:20px;
	}
	/*icon hover*/
	.nav ul li a:hover > .navIcon .icon-home {
		background-position: -102px 0 ;
	}
	.nav ul li a:hover > .navIcon .icon-mobile {
		background-position: -96px -23px ;
	}
	.nav ul li a:hover > .navIcon .icon-products {
		background-position: -102px -48px; ;
	}
	.nav ul li a:hover > .navIcon .icon-promotion {
		background-position: -99px -73px ;
	}
	.nav ul li a:hover > .navIcon .icon-commision {
		background-position: -101px -98px ;
	}
	.nav ul li a:hover > .navIcon .icon-how-it-works  {
		background-position: -101px -123px ;
	}
	.nav ul li a:hover > .navIcon .icon-go-to  {
		background-position: -101px -144px ;
	}


	/*HOME*/
	.contHomeDiv {
		position:static;
		width: 500px;
		margin:0 auto;
		z-index:1 !important;
		//bottom:20px;
		right: 0;
		box-sizing:border-box;
		margin-top:20px;
	}
	.businessman {
		display: none !important;
	}
	.contBoxHome {
		float:none;
		width:100% !important;
		margin-right:0px;
		margin-bottom:20px;
		color:#fff;
		//padding-top:196px;
		height:auto;
		z-index:1;
	}
	.contBoxHome img {
		width:100%;
		height:auto;
	}
	.contBoxHome .txt1 {
		margin-top:0;
	}

	/*REGISTRATION*/
	.img-ban1 {
		padding:0 10%;
	}
	.regBox {
		padding: 20px;
		box-sizing:border-box;
	}
	.contBox {
		margin-bottom: 5px;
	}
	.input {
		position:relative;
	}
	.input:focus + .tooltips {
		display: inline-block;
		left:10%;
	}
	.tooltips {
		font-family: Arial;
		display:none;
		position:absolute;
		margin-left: 47%;
		padding-left:10px;
		z-index: 99999;
	}
	.tooltips p {
		background:#acadad;
		color:#444;
		text-align:left;
		//border-left: none;
	}
	.floatL {
		float:none;
		display:block;
	}
	.leftReg {
		text-align:left;
		width:100%;
		padding: 5px 0;
	}
	.leftReg br {
		display:none;
	}
	.rightReg {
		margin-left:0;
		width:100%;
	}
	.triforwidth, .halfwidth {
		width:90%;
		display:inline-block;
	}
	.rightReg input[type="text"], .rightReg select {
		font-size:14px;
		margin-bottom:10px;
	}
	.rightReg select {
		margin-bottom:10px;
		width:90%;
	}
	.checkav {
		margin-top:10px;
	}
	.rightReg .phone1 {
		width: 10%;
	}
	.rightReg .phone2 {
		width: 89%;
	}

	/* PRODUCT */
	.prodBox {
		float:none;
		width: 100%;
		margin: 20px 0;
	}
	/*FOOTER*/
	.footbox {
		float:none;
		width:100%;
		text-align:center;
		box-sizing:border-box;
	}



}
@media screen and (max-width : 640px){
	.parentSlide {
		//min-height:400px;
	}
}
@media screen and (max-width : 580px){
	.input:focus + .tooltips {
		display: none;
	}
	.contHomeDiv {
		position:static;
		width: 450px;
		margin:0 auto;
		box-sizing:border-box;
		margin-top:20px;
	}
	.parentSlide {
		//min-height: 400px;
	}
	.childSlide {
		right: 10%;
	}
	.childOne {
		font-size: 26px;
	}
	.childTwo {
		font-size:60px;
	}
	.childThree {
		font-size: 60px;
		line-height:50px;
	}

}
@media screen and (max-width : 500px){
	/*HEADER*/
	.bell, .time-part {
		display:none;
	}
}
@media screen and (max-width : 480px){
	/*STICkY LEFT & RIGHT*/
	.how-it-works, .contact-us {
		display: none;
	}

	/*REGISTER*/
	.rightReg .phone1 {
		width: 20%;
	}
	.rightReg .phone2 {
		width: 69%;
	}

	/*HOME*/
	.contHomeDiv {
		position:static;
		width: 400px;
		margin:0 auto;
		box-sizing:border-box;
		margin-top:20px;
	}
	.parentSlide {
	//	min-height: 320px;
	}
	.childOne {
		font-size: 22px;
	}
	.childTwo {
		font-size:40px;
	}
	.childThree {
		font-size: 40px;
		line-height:40px;
	}

    /* about page */
    .contentAbout {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .aboutWrap {
        padding-left: 30px;
        padding-right: 30px;
    }
    .aboutWrap ul li { padding-left: 30px; }
    .comm-banner .text { padding-left: 15px; }
    .comm-banner .text h2 { font-size: 30px; }
    .comm-banner .text h4 { font-size: 17px; }
    .comm-banner .text ul { padding-left: 0; }
    .comm-banner .text ul li {
        font-size: 25px;
        padding-left: 50px;
    }
    .comm-banner .text ul li:before {
        background-size: 100%;
        width: 50px;
    }
    #comm-plan {
        padding-left: 10px;
        padding-right: 10px;
    }
    #comm-plan h2 { margin-left: 0;}
    #comm-plan .inner {
        padding-left: 10px;
        padding-right: 10px;
    }
    table.aff-tble {
        margin-left: 0;
    }
}
@media screen and (max-width : 420px){
	.rightReg .phone1 {
		width: 20%;
	}
	.rightReg .phone2 {
		width: 67%;
	}
	.regBoxTitle {
		font-size: 10px;
	}
}
@media screen and (max-width : 360px){
	.joinNow, .login {
		 width: 100px;
	}
}


@media only screen and (max-width: 420px) and (min-width: 320px) {
	.contHomeDiv {
		position:static;
		width: 300px;
		margin:0 auto;
		box-sizing:border-box;
		margin-top:20px;
	}
}
